/* body {
  padding-top: 100px;
}

.full {
  padding-top: 0;
} */

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #e51820 !important;
}

.bg-primary,
.btn-primary {
  background-color: #e51820 !important;
  border-color: #e51820 !important;
  color: #fff;
}

.btn-outline-primary {
  border-color: #e51820 !important;
  color: #e51820;
}

.bg-darker {
  background-color: #333;

}

.mt--100 {
  margin-top: -100px;
}
.mt--150 {
  margin-top: -150px;
}
.mt--200 {
  margin-top: -200px;
}
.mt--250 {
  margin-top: -250px;
}

/* Breadcrumb */
a.breadcrumb-item {
  text-transform: uppercase;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 87%);
}

/* Slider */
.carousel-caption {
  top: 50%;
  left: 15%;
  max-width: 40%;
  bottom: auto;
  text-align: left;
  transform: translateY(-50%);

}

/* Fitur */
.fitur .card img {
  max-height: 250px;
  min-height: 250px;
  width: 100%;
}

.fitur .card-body {
  padding-left: 2em !important;

}

/* card */
.card-title {
  line-height: 2em;

}

/* About */
.about-text {
  padding-bottom: 200px;
}

.about-img {
  background-color: #fff;
}

.about-img img {
  height: 450px;
  object-fit: cover;
}

.about-awards {
  padding: 4em 0;
}

/* philosophy */
.philosophy-logo {
  background-color: #f5f5f5;
}
.philosophy-logo img {
  width: 150px;
}