/* body {
  padding-top: 100px;
}

.full {
  padding-top: 0;
} */

body {
  background-color: #f8f9fa !important;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #e51820 !important;
}

.bg-primary,
.btn-primary {
  background-color: #e51820 !important;
  border-color: #e51820 !important;
  color: #fff;
}

.btn-outline-primary {
  border-color: #e51820 !important;
  color: #e51820;
}

.bg-darker {
  background-color: #333;
}

.bg-lighter {
  background-color: #fdfeff !important;
}

.mt--100 {
  margin-top: -100px;
}

.mt--150 {
  margin-top: -150px;
}

.mt--200 {
  margin-top: -200px;
}

.mt--250 {
  margin-top: -250px;
}

/* Breadcrumb */
a.breadcrumb-item {
  text-transform: uppercase;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 87%);
}

/* Slider */
.carousel-caption {
  top: 50%;
  left: 15%;
  max-width: 70%;
  bottom: auto;
  text-align: left;
  transform: translateY(-50%);
}

/* Fitur */
.fitur .card img {
  max-height: 250px;
  min-height: 250px;
  width: 100%;
}

.fitur .card-body {
  padding-left: 2em !important;
}

.fitur-text {
  position: relative;
}

.fitur-text:after {
  content: '';
  width: 0;
  height: 0;
  z-index: 1;

  position: absolute;
}

.fitur .fitur-kiri .fitur-text:after {

  border-top: 20px solid transparent;
  border-left: 40px solid #fff;
  border-bottom: 20px solid transparent;

  right: -30px;
}

.fitur .fitur-kanan .fitur-text:after {
  border-top: 20px solid transparent;
  border-right: 40px solid #fff;
  border-bottom: 20px solid transparent;

  left: -30px;
}

.fitur .fitur-atas .fitur-text:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #fff;

  top: -30px;
  left: 50%;
}


.social-icon img {
  width: 25px;
}

/* card */
.card-title {
  line-height: 2em;
}

/* About */
.about-text {
  padding-bottom: 200px;
}

.about-img {
  background-color: #fff;
}

.about-img img {
  height: 450px;
  object-fit: cover;
}

.about-awards {
  padding: 4em 0;
}

/* philosophy */
.philosophy-logo {
  background-color: #f5f5f5;
}

.philosophy-logo img {
  width: 150px;
}

/* Products  List */
.product-filter .list-group-item.active {
  background-color: #e51820;
  border-color: #e51820;
}

/* Products Page */
#produk-title-slider .carousel-item img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

#produk-title-slider .carousel-indicators {
  justify-content: start;
  margin-left: 2%;
}

#produk-title-slider .carousel-indicators [data-bs-target] {
  opacity: 0.1;
  background-color: #333;
}

#produk-title-slider .carousel-indicators [data-bs-target].active {
  opacity: 1;
}

.product-img {
  margin-bottom: -100px;
  padding-left: 2em;
  padding-top: 2em;
  z-index: 1;
}

.product-img-bg {
  max-height: 150px;
  object-fit: cover;
}

img.product-img-overflow {
  margin-right: -20%;
  z-index: 1;
  height: 90%;
}

@media (max-width: 576px) {
  img.product-img-overflow {
    margin-right: 0%;
    margin-bottom: -70%;
    z-index: 1;
    height: 100%;
  }
}

/* Contact */
.contact-form {
  margin-top: -30%;
}

.navbar-collapse.show {
  background: #fff;
  padding: 10px;
}

.navbar-collapse.show .nav-link {
  color: #333;
}


@media (max-width: 425px) {
  .fitur .fitur-kiri .fitur-text:after {
    right: 50%;
    bottom: -40px;
    transform: translateX(-50%);

    border-left: 20px solid transparent;
    border-top: 40px solid #fff;
    border-right: 20px solid transparent;
  }

  .fitur .fitur-kanan .fitur-text:after {
    left: 40%;
    top: -40px;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-bottom: 40px solid #fff;
    border-right: 20px solid transparent;
  }

  /* slide */
  .carousel-item {
    background-color: #333;
  }

  .carousel-caption {
    position: relative;
    top: 100%;
    transform: none;
  }

  .about-img img {
    height: auto;
    object-fit: cover;
  }
}